# Ignorar la carpeta data
data/

# Ignorar archivos .pyc y carpetas __pycache__
__pycache__/
*.pyc

# Ignorar archivos específicos y carpetas generadas por el entorno virtual
Guia_Desarrollo.MD
Scripts/
Lib/
Include/
pyvenv.cfg
share/
catboost_info/
pmdarima/
etc/
Result_model/